@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //this is where you'll put cs code
    ViewBag.Title = "About Curtis Parker"; //lets you make variables that you can share between razorpages?
    //You can use C# code throughout the webpage by starting with @
    ViewBag.Header = "Curtis";
}

<body>
    <img src="~/img/IMG_0126.jpg" />
    <p>I hope to get a solid understanding of C# from this class. <br />I also want to gain a thorough understanding of the ASP.NET MVC Core framework. <br />In addition, I want to get better at learning how to learn tech stuff.</p>
    <br />
    <p>Dream jobs after graduation</p>
    <ul>
        <li>1. Software developer</li>
        <li>2. Data analytics for Amazon</li>
        <li>3. Some kind of project management position</li>
    </ul>


</body>

